/* Example media query for responsiveness */
@media (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .input {
    width: 90%;
    border-radius: 6px;
  }

  .button {
    width: 90%;
    margin: 8px 0;
    border-radius: 6px;
    transition: transform 0.1s !important;
  }

  .button:hover {
    transform: scale(1.05) !important;
  }

  .button:active {
    transform: scale(0.95) !important;
  }

  .header {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 12px;
  }

  .input {
    width: 85%;
    border-radius: 6px;
  }

  .button {
    width: 85%;
    margin: 7px 0;
    border-radius: 6px;
    transition: transform 0.1s !important;
  }

  .button:hover {
    transform: scale(1.05) !important;
  }

  .button:active {
    transform: scale(0.95) !important;
  }

  .todoText {
    font-size: 0.85rem;
  }

  .header {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .input {
    width: 100%;
    border-radius: 6px;
  }

  .button {
    width: 100%;
    margin: 5px 0;
    border-radius: 6px;
    transition: transform 0.1s !important;
  }

  .button:hover {
    transform: scale(1.05) !important;
  }

  .button:active {
    transform: scale(0.95) !important;
  }

  .todoText {
    font-size: 0.7rem;
  }

  li {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.7rem;
    border-bottom: 1px solid #ccc; /* Add bottom border */
  }

  .header {
    font-size: 0.85rem;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 8px;
  }

  .input {
    width: 100%;
    border-radius: 6px;
  }

  .button {
    width: 100%;
    margin: 4px 0;
    border-radius: 6px;
    transition: transform 0.1s !important;
  }

  .button:hover {
    transform: scale(1.05) !important;
  }

  .button:active {
    transform: scale(0.95) !important;
  }

  .todoText {
    font-size: 0.6rem;
  }

  li {
    width: 100%;
    margin-bottom: 8px;
    font-size: 0.6rem;
    border-bottom: 1px solid #ccc;
  }

  .header {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .inputContainer {
    grid-template-columns: 1fr;
  }

  .input {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .listItem {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .timestampsContainer {
    align-items: center;
  }

  .timestamps {
    align-items: center;
  }

  .content {
    padding: 10px;
  }

  .inputWrapper {
    width: 100%;
  }

  .filterSortContainer {
    flex-direction: column;
    gap: 5px;
  }

  .input,
  .select,
  .button {
    width: 100%;
  }

  .header {
    font-size: 0.85rem;
  }
}

.timeStamps {
  display: flex;
  flex-direction: column;
  text-align: left;
}
