/* Example media query for responsiveness */
@media (max-width: 1024px) {
  .container {
    padding: 15px;
  }

  .input {
    width: 90%;
  }

  .button {
    width: 90%;
    margin: 8px 0;
  }

}

@media (max-width: 768px) {
  .container {
    padding: 12px;
  }

  .input {
    width: 85%;
  }

  .button {
    width: 85%;
    margin: 7px 0;
  }

  .todoText {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .input {
    width: 100%;
  }

  .button {
    width: 100%;
    margin: 5px 0;
  }

  .todoText {
    font-size: 0.7rem;
  }

  li {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.7rem;
  }
}
